@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
 


html {
    width: 100vw;
    height: 100vh;
    
}
body {
    background-image: url(imagens/2962646-paisagem-bela-noite-com-montanha-e-lago-vetor.jpg);
    background-size: cover;
    background-repeat: no-repeat;

} 
 header {
    background-image:linear-gradient(to right, #392F51, #733C59 );
    
    width: 95vw;

    text-align: center;
    
 }

 nav {
    padding: 20px;
    text-align: center;
    display: inline-block;
    position: relative;
    left: -10px;
    

    
 }

 nav a {

    margin: 10px;
    padding: 5px;
    color: aliceblue;
    text-decoration: none;
    background-color: #F08271;
    box-sizing: border-box;
 }

 a:hover {
    border: 2px solid rgba(0, 0, 0, 0.119);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.293);
    transition: transform 0.5, border 1s;
     background-color: #EB656D;
     
 }

 main {
    margin: auto;
    max-width: 50vw;
    position: relative;
    
    
    
 }
 
 h1 {
    color: #EF626F;
    text-align: center;
    font-size: 2em;
     font-family: "Oswald", sans-serif;
     font-optical-sizing: auto;
     font-weight: 700;
     font-style: normal;
     padding-bottom: 0px;
} 

p {
   color: aquamarine; 
   font-family: "Oswald", sans-serif;
     font-optical-sizing: auto;
     font-size: 1.3em;
     font-weight: 400;
     font-style: normal;
}


img {
    width: 50px;
    position: absolute;
    top: -85px;
    left: 99%;  
}

#redes {
    box-sizing: border-box;
}
#redes img:hover {
    border: 2px solid rgba(0, 0, 0, 0.241);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.156);
    transition: transform 0.5, border 0.5s;
}

.img1 {
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 86%;
}

.img2 {
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 86%;
}

@media  screen and (max-width: 768px) {
    
   
    .img1 {
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 92%;
    left: 86%;
    
}

.img2 {
    width: 38px;
    border-radius: 50%;
    position: absolute;
    top: 92%;
    left: 75%;
    
}
 
p {
    color: #EF626F; 
}


}