@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
 
* {
    margin: 0px;
    padding: 0px;
}


body {
    background-image: url(imagens/2962646-paisagem-bela-noite-com-montanha-e-lago-vetor.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

} 
 header {
    background-image:linear-gradient(to right, #392F51, #733C59 );
    width: 100vw;
    text-align: center;

    
 }

 nav {
   
    padding: 20px;
    text-align: center;
    display: inline-block;
    position: relative;
    left: -10px;
    

    
 }

 nav a {
    margin: 10px;
    padding: 5px;
    padding-bottom: 10px;
    color: aliceblue;
    text-decoration: none;
    background-color: #EF626F;
    box-sizing: border-box;
 }

 a:hover {
    border: 2px solid rgba(0, 0, 0, 0.119);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.293);
    transition: transform 0.5, border 1s;
     background-color: #EB656D;
     
 }

 main {
    margin: auto;
    max-width: 50vw;
    position: relative;
    
    
    
 }
 
 h1 {
    color: #EF626F;
    text-align: center;
    font-size: 2em;
     font-family: "Oswald", sans-serif;
     font-optical-sizing: auto;
     font-weight: 700;
     font-style: normal;
     padding-bottom: 0px;
     padding-left: 5px;
} 

p {
   color: aquamarine; 
   padding-top: 10px;
   font-family: "Oswald", sans-serif;
     font-optical-sizing: auto;
     font-size: 1.3em;
     font-weight: 400;
     font-style: normal;
     line-height: 35px;
     text-align: justify;
     text-indent: 5px;
}


img {
    
    width: 50px;
    position: absolute;
    top: -55px;
    left: 99%;  
}


#redes {
    box-sizing: border-box;
}
#redes img:hover {
    border: 2px solid rgba(0, 0, 0, 0.241);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.156);
    transition: transform 0.5, border 0.5s;
}

    

.img1 {
    border-radius: 50%;
    position: absolute;
    top: 65px;
    left: 86%;
    
    
}

.img2 {
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left: 86%;
    
}


@media  screen and (max-width: 600px) {
   body {
    background-image: url(imagens/mobile.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left top;
    height: 100vh;
    width: 100vw;
   }
   
   img {
    width: 50px;
    position: absolute;
    top: -55px;
    left: 55vw;  
}
   .img1 {
    width: 40px;
    border-radius: 50%;
    position: fixed;
    
    
    
    
}

.img2 {
    width: 38px;
    border-radius: 50%;
    position: fixed;
    
    
    
}
   
   
 
p {
    color: #EF626F; 
}


section#ingles {
    margin-top: 40px;
    
}

section#ingles p {
    color: #eb4757;
}

}