@charset "UTF-8";

body {
    
    width: 90vw;
    height: 90vh;
    background-repeat: no-repeat;
    position: relative;
}
 header {
    background-image:linear-gradient(to right, #392F51, #733C59 );
    background-size: cover;
    padding: 30px;
    text-align: center;
 }

 nav {
    display: inline-block;

    
 }

 a {
 margin: 10px;
 padding: 5px;
 color: aliceblue;
 text-decoration: none;
 background-color: #F08271;
 box-sizing: border-box;
 }

 a:hover {
    border: 2px solid rgba(0, 0, 0, 0.119);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.127);
    transition: transform 0.5, border 1s;
     background-color: #EB656D;
     
 }

 main {
    margin: auto;
    max-width: 50vw;
    
 }
 
 h1 {
    color: white;
    text-align: center;
 }

img {
    width: 50px;
    position: absolute;
    top: 10px;
    left: 85%;
    
}
